<div class="container" style="margin-top: 70px;">
  <form class="form-inline">   
    <div class="form-group mx-sm-3 mb-2">
      <label for="inputPassword2" class="sr-only">Enter to search</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="Enter to search" (input)="search($event.target.value)">
    </div> 
    
    <button class="btn btn-primary" routerLink="/contact-create"> Create </button>
    
  </form>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Body</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of filteredContacts | slice:0:10;">
  
          <td>{{ contact.id }}</td>
          <td> {{ contact.title }}</td>
          <td> {{ contact.body }}</td>
          <td>
            <button class="btn btn-primary" type="button"(click)="viewContact(contact)"> Show </button>
            <button class="btn btn-primary" type="button"(click)="editContact(contact)"> Edit </button>
            <button class="btn btn-primary" type="button"(click)="deleteContact(contact)"> Delete </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>